<body>

    <!-- CARROUSEL CABEZERA -->
    <div id="carousel-header"></div>
    <section id="carousel-products"></section>


    <div id="result-category">

        
    </div>
<!--     
    <section id="products">
        <div class="row">
            <div class="large-12 columns">
                <h4 class="line_menu">&nbsp&nbsp&nbsp Categorías</h4>
                <div class="loop owl-carousel owl-theme" > 
                    <div class="item" id=31>
                        <h4> <img src="view\img\carousel_home\STTM79.jpg" alt="" class="prueba" />
                        </h4>
                    </div>
                    <div class="item">
                        <h4> <img src="view\img\carousel_home\SWIV77.jpg" alt="" id="Fantasia" class="prueba" />
                        </h4>
                    </div>
                    <div class="item">
                        <h4> <img src="view\img\carousel_home\WILLOW.jpg" alt="" id=31 />
                        </h4>
                    </div>
                    <div class="item">
                        <h4> <img src="view\img\carousel_home\SWRO16.jpg" alt="" id=31 />
                        </h4>
                    </div>
                    <div class="item">
                        <h4> <img src="view\img\carousel_home\SWEIII.jpg" alt="" id=31 />
                        </h4>
                    </div>
                    <div class="item">
                        <h4> <img src="view\img\carousel_home\SWIV80.jpg" alt="" id="31" />
                        </h4>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section> -->

    <!--/.PRODUCTOS POR GÉNERO PRODUCTOS POR GÉNERO PRODUCTOS POR GÉNERO PRODUCTOS POR GÉNERO  -->



    <div id="list_modal"></div>
    <!--/.PRODUCTOS POR DECADAS  -->
    <!--/.INTRO END-->
    <section id="offer">
        <div class="container">
            <div class="row   alert alert-info">
                <div class="col-md-8 col-sm-8">
                    <h1> Download Deatils Now For Latest Offers</h1>
                </div>
                <div class="col-md-4 col-sm-4" style="padding-top: 15px;">
                    <a href="#" class=" btn btn-primary btn-lg">GRAB IT HERE NOW</a>
                </div>

            </div>
        </div>
    </section>
    <!--/.OFFFER END-->
    <section id="just-intro">
        <div class="container">
            <div class="row text-center pad-row">
                <div class="col-md-4  col-sm-4">
                    <i class="fa fa-desktop fa-5x"></i>
                    <h4> <strong>Sure Quique Menu</strong> </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="col-md-4  col-sm-4">
                    <i class="fa fa-flask  fa-5x"></i>
                    <h4> <strong>Sure Quique Menu</strong> </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="col-md-4  col-sm-4">
                    <i class="fa fa-pencil  fa-5x"></i>
                    <h4> <strong>Sure Quique Menu</strong> </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>

            </div>
        </div>
    </section>