.center{            text-align: center; 
}

body {
    width: 1060px;
    margin: auto;
    background-color: khaki;
}
table {
    width: 1060px;
    margin: auto;
    background-color: wheat;
    border-color: orange;
}

td {
    width: "24%";
}

.error {color: #FF0000;}

.styerror {
    color: #ff0000;
    font-family: arial;
    font-size: 10pt;
    font-style:italic;
}
#exheader {
	background-image:url(../img/Captura.png);
    background-repeat:no-repeat;
    height:300;
    color:red;

    
}
#header {
    background-color:grey
}
#footer {
	height:130px;
    
    background-image:url(../img/VHS_Menu.png);

	text-align:center;
}
#menu{
    background-image:url(../img/VHS_Menu.png);
    margin: auto;

	height:131px;
    text-align:center;
    background-color: whitesmoke;
}

.vertical-center{
    position: relative;
    top: 50%;
}


#menu a:link, a:visited
{
     font-family: mv boli;

    text-decoration: underline;
    color: blue;
}

.styerror {
    color: #ff0000;
    font-family: arial;
    font-size: 10pt;
    font-style:italic;
}
#btn-val {background-color: #4CAF50;} /* Green */
#btn-es {background-color: #008CBA;} /* Blue */
#btn-en {background-color: #f44336;} /* Red */


/* body::backdrop{
    background-color:white
} */

