<div id = "container-home">
    <div>
        <div uib-carousel active = "active" interval = "myInterval" no-wrap = "noWrapSlides" class = "separe-menu">
            <a uib-slide ng-repeat = "slide in slides track by slide.carPlate" index = "$index" class = "single-slide" href = "#/shop/{{slide.carPlate}}"style = "overflow: hidden; height: 500px; max-height: 500px;">
                <img ng-src = "http://192.168.0.182/frameworkCars.v.1.3/frontend/view/img/allCarsImg/{{slide.image}}" style = "display: block; width: 100%; height: auto; position: absolute; top: 0; bottom: 0; margin: auto">
                <div class = "carousel-caption">
                    <h1>{{slide.brand}} {{slide.model}} {{slide.carPlate}}</h1>
                </div>
            </a>
        </div>
    </div>
    <div id = "homePage" class = "container spt">
        <h1>Our most visited brands</h1>
        <div id = "containerCategories" class = "row">
            <div ng-repeat = "data in viewedBrands" id = "{{data.brand}}" class = "col-md-4 single-service-2">
                <div class = "inner" ng-click = "redirectShopBrand('{{data.brand}}')">
                    <img src = "http://192.168.0.182/frameworkCars.v.1.3/frontend/{{data.image}}" style = "max-width: 100%; height: 100px;">
                        <h4 style = "padding-top: 25px">{{data.brand}}</h4>
                    </img>
                </div>
            </div>
        </div>
    </div>
</div>