<div id="header">


	<!-- AUTOCOMPLETAR -->
	<link rel="stylesheet" href="assets/easy-autocomplete.min.css">
	<script src="assets/jquery.easy-autocomplete.min.js"></script>


	<script src="https://kit.fontawesome.com/58113283e0.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

	<!-- <button style = "float: right" class = "default-button" id = "btn-slide" data-tr = "Languages">Languages</button> -->
</div>