<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- SI AUMENTAS MUCHO LA PÁGINA SE HACE UN CUADRADITO CON LA CANTIDAD DE LÍNEAS DE "ICON-BAR" -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right" id="fixed-menu">
				<!-- Opcions subpàgines -->


				<li><a href="#/home" id="home" data-tr="Inicio" ng-click="checkTokenClick()">Home</a></li>
				<li><a href="#/shop" id="shop" data-tr="shop" ng-click="shopClick();checkTokenClick()">Shop</a></li>
				<!-- TRANSLATE -->
				<!-- <li> <button class="lang-btn" data-tr="Valenciano" id="btn-val">Val</buttton>
				</li>
				<li> <button class="lang-btn" data-tr="Castellano" id="btn-es">Cas</button> </li>
				<li> <button class="lang-btn" data-tr="Inglés" id="btn-en">Eng</button></li> -->
				<li><a href="#/cart" id="Cart" class="fas fa-shopping-cart" style="font-size: 3em;" ng-click="checkTokenClick()"><label
							id="countCart">{{countCart}}</label></a></li>

			</ul>
			<ul style="list-style:none;">
				<div ng-show="menuLogShow">

					<li><a href="#/login" id="loginM">Login</a>
					</li>
				</div>

				<div ng-show="menuUserShow">
					<li style="color:whitesmoke;">{{user}}<img id="menuAvatar" ng-src={{avatar}}></img></li>
					<li><a id="closeSession" ng-click="closeSessionClick()">Cerrar Sesion</a></li>
				</div>

			</ul>
			<form class="formuSearch">
				<input type="text" ng-model="searchIn" name="searchIn" placeholder="Busca tu producto"
					autocomplete="off" ng-keypress="searchShop($event, this.searchIn)" />

			</form>

		</div>
	</div>
</div>