<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Kevin" />
  <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
  <title>Projecte</title>
  <!-- BOOTSTRAP CORE STYLE CSS -->
  <link href="view/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLE CSS -->
  <link href="view/css/font-awesome.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLE CSS -->
  <link href="view/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- GOOGLE FONT -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />









  <!-- <link href="view/css/style.css" rel="stylesheet" type="text/css" />
 -->
  <!-- LIBRERÍA JQUERY CLICK READ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="module/movies/model/modalWindow.js"></script>

  <!--VALIDACIÓN JAVASCRIPT-->
  <script type="text/javascript" src="module/movies/model/validaciones.js"></script>
  <!-- <script type="text/javascript" src="module/movies/model/readWindow.js"></script>
    <script type="text/javascript" src="module/movies/model/deleteWindow.js"></script> -->

  <!--TRANSLATE-->
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/3.3.7/js/clean-blog.min.js"></script>
  <script type="text/javascript" src="view/inc/translate.js"></script>

  <!-- LIBRERÍA FECHA-->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!-- DATA BASES -->
  <!-- <script src="~/Scripts/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script> -->

  <!-- JQUERY  ACCORDION-->
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>     -->

  <!-- DATA TABLES -->

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

  <!-- AUTOCOMPLETAR -->
  <link rel="stylesheet" href="assets/easy-autocomplete.min.css">
  <script src="assets/jquery.easy-autocomplete.min.js"></script>


  <!-- DATA BASES -->
  <script type="text/javascript" src="module/movies/model\functions.js"></script>


  <!-- COMPLEMENTS  COMPLEMENTS  COMPLEMENTS  COMPLEMENTS   -->
  <script src="view\js\ini.js"></script>

  <!-- SEARCH SEARCH SEARCH SEARCH -->
  <script src="module\search\model\controllerSearch.js"></script>



</head>

<body>