<!-- <div id="footer">


    <section class="note-sec">

        <div class="container">
            <div class="row text-center pad-row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                    <i class="fa fa-quote-left fa-3x"></i>
                    <p>
                        "¡Buenos días princesa! he soñado toda la noche contigo,
                        íbamos al cine y tú llevabas aquel vestido rosa que me gusta tanto,
                        sólo pienso en ti, princesa, pienso siempre en ti."
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section id="clients">


        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-12">
                    <img src="view/img/clients.png" alt="" class="img-responsive" />
                </div>

            </div>
        </div>
    </section>
    <section id="footer-sec">

        <div class="container">
            <div class="row  pad-bottom">
                <div class="col-md-4">
                    <h4> <strong>ABOUT COMPANY</strong> </h4>
                    <p>
                        "¡Buenos días princesa! he soñado toda la noche contigo,
                        íbamos al cine y tú llevabas aquel vestido rosa que me gusta tanto,
                        sólo pienso en ti, princesa, pienso siempre en ti."
                    </p>
                    <a href="#">read more</a>
                </div>
                <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                    <p>
                        <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4> <strong>OUR LOCATION</strong> </h4>
                    <p>
                        234/JK , The Wondre Land, <br />
                        Newyork Street Junction <br />
                        JUST USA -10909094
                    </p>
                    <a href="#" class="btn btn-primary">SEND QUERY</a>
                </div>
            </div>
        </div>
    </section>
    /.FOOTER END-->


</div> 