<div id="header">

	<!-- <button style = "float: right" class = "default-button" id = "btn-slide" data-tr = "Languages">Languages</button> -->
	<div id="slide-lang">
		<!-- <ul style = "list-style : none; margin: 0; padding: 0; margin-top: 2px;"> -->
		<button class="lang-btn" data-tr="Valenciano" id="btn-val"></buttton>
			<button class="lang-btn" data-tr="Castellano" id="btn-es"></button>
			<button class="lang-btn" data-tr="Inglés" id="btn-en"></button>
			<!-- </ul>	 -->
			<!-- Bootstrap core JavaScript -->
	</div>
</div>