<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- SI AUMENTAS MUCHO LA PÁGINA SE HACE UN CUADRADITO CON LA CANTIDAD DE LÍNEAS DE "ICON-BAR" -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- LOGO -->
			<span id="logo">YOUR LOGO</span>
		</div>


		<!-- MENUS! -->

		<div class="navbar-collapse collapse">
			<!-- <ul style = "list-style : none; margin: 0; padding: 0; margin-top: 2px;"> -->
			<!-- </ul>	 -->
			<!-- Bootstrap core JavaScript -->
			<ul class="nav navbar-nav navbar-right">
				<!-- Opcions subpàgines -->
				<li><a href="index.php?page=home" id="Inicio" data-tr="Inicio"></a></li>
				<li><a href="index.php?page=movies&op=list" id="Peliculas" data-tr="Peliculas"></a></li>
				<li><a href="index.php?page=services" id="" data-tr="Servicios"></a></li>
				<li><a href="index.php?page=pricing" id="Precios" data-tr="Precios"></a></li>
				<li><a href="index.php?page=portfolio" id="Portfolio" data-tr="Portfolio"></a></li>
				<li><a href="index.php?page=aboutus" id="Sobre nosotros" data-tr="Sobre nosotros"></a></li>
				<li><a href="index.php?page=contactus" id="Contacta con nosotros" data-tr="Contacta con nosotros"></a>
				</li>


				<!-- TRANSLATE -->
				<li> <button class="lang-btn" data-tr="Valenciano" id="btn-val"></buttton>
				</li>
				<li> <button class="lang-btn" data-tr="Castellano" id="btn-es"></button> </li>
				<li> <button class="lang-btn" data-tr="Inglés" id="btn-en"></button> </li>
			</ul>

		</div>
	</div>
</div>