<div id="menu">
<div class="vertical-center" class="menu">
		<a href="index.php?page=home" id  = "Inicio" data-tr = "Inicio"></a>&nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;
		<a href="index.php?page=movies&op=list" id  = "Peliculas" data-tr = "Peliculas"></a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="index.php?page=services"id  = "" data-tr = "Servicios"></a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="index.php?page=aboutus"id  = "Sobre nosotros" data-tr = "Sobre nosotros"></a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="index.php?page=contactus"id  = "Contacta con nosotros" data-tr = "Contacta con nosotros"></a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
