<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Projecte</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="view/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="view/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="view/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- CAROUSEL POR LIBRERÍAS  -->
    <link rel="stylesheet" href="view\css\carousel\owl.carousel.css">
    <link rel="stylesheet" href="view\css\carousel\owl.theme.default.min.css">


    <!-- Mis links -->
    <link href="view/css/style.css" rel="stylesheet" type="text/css" />



    <!--Mis JavaScripts-->
    <!-- TRANSLATE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="view/inc/translate.js"></script>

    <!-- CAROUSEL W3SCHOOL -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- AUTOCOMPLETAR -->
    <link rel="stylesheet" href="assets/easy-autocomplete.min.css">
    <script src="assets/jquery.easy-autocomplete.min.js"></script>



    <!-- COMPLEMENTS  COMPLEMENTS  COMPLEMENTS  COMPLEMENTS   -->
    <script src="view\js\complements.js"></script>

    <!-- SEARCH SEARCH SEARCH SEARCH -->
    <script src="module\search\model\controllerSearch.js"></script>

    <!---->
    <!-- CAROUSEL POR LIBRERÍAS  -->
    <script src="view\plugins\jquery.min.js"></script>
    <script src="view\plugins\owl.carousel.min.js"></script>
    <!-- <script src="module\shop\js\shop.js"></script> -->
    <script src="assets/api_kay.js"></script>
    <script src="module\shop\model\controllerShop.js"></script>
    <script src="module\shop\model\filter.js"></script>


    <!--Librerías para google maps-->
    <!-- <script src="module\shop\model\geolocalizacion.js"></script> -->

    <!-- <script src="module\shop\model\jquery.bootpag.js"></script> -->
    <script src="module\shop\model\jquery.bootpag.min.js"></script>


         <!--Module Login-->
         <script src="module\login\model\controllerLogin.js"></script>
         <!-- CSS Login -->
         <link href="module\login\css\loginRegister.css" rel="stylesheet" />    
     

    </script>
</head>

<body>