<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Projecte</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="view/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="view/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="view/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />



  <!-- AUTOCOMPLETAR -->
  <link rel="stylesheet" href="assets/easy-autocomplete.min.css">
  <script src="assets/jquery.easy-autocomplete.min.js"></script>



	    <!-- Mis links -->
	<link href="view/css/style.css" rel="stylesheet" type="text/css" />
	

	<!--Mis JavaScripts-->
	  <!-- Bootstrap core JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

      
    <!-- COMPLEMENTS  COMPLEMENTS  COMPLEMENTS  COMPLEMENTS   -->
    <script src="view\js\ini.js"></script>
    
    <!-- SEARCH SEARCH SEARCH SEARCH -->
    <script src="module\search\model\controllerSearch.js"></script>
    
    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/3.3.7/js/clean-blog.min.js"></script>
	<script type="text/javascript" src="view/inc/translate.js"></script>

    





</head>
<body>