/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 html{
  background-color: #eaeaea;

 }
body #contenido {
  font-family: "Open Sans", sans-serif;
  background-color: #eaeaea;
  margin-bottom:10em;
}
#contenido {
  background-color: #eaeaea;
}

.pad-top {
  padding-top: 60px;
}
.text-center {
  text-align: center;
}
i.fa {
  padding: 5px;
}
section {
  padding-top: 50px;
}

p {
  font-weight: 300;
  line-height: 30px;
}
.pad-row {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pad-bottom {
  padding-bottom: 50px;
}

/* NAVBAR STYLE */

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

/* ADDED PADDING IN NAVBAR */

.navbar {
  padding: 15px;
  -webkit-transition: background 0.8s ease-out, padding 0.8s ease-out;
  -moz-transition: background 0.8s ease-out, padding 0.8s ease-out;
  transition: background 0.8s ease-out, padding 0.8s ease-out;
}

/* CLASS FOR REMOVING PADDING IN NAVBAR*/

.navbar-pad-original {
  padding: 0px;
}

/* CARUOSEL STYLE OR SLIDESHOW STYLE*/

.back-light {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
/*NOTE SECION STYLE*/
.note-sec {
  padding-bottom: 50px;
  background: url(../img/4.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 300px;
  color: #fff;
}

/*HEADINGS IMAGE STYLE*/

.head-main-img {
  padding-bottom: 50px;
  background: url(../img/4.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  min-height: 300px;
  color: #fff;
}
.head-main-img h1 {
  padding: 50px 2px 2px 10px;
  text-transform: uppercase;
}

/* PRICING STYLE */

.plan {
  padding: 0 0 15px 0;
  margin: 30px 0px;
  list-style: none;
  text-align: center;
}

.plan li {
  padding: 15px 0px;
  font-size: 16px;
  border-bottom: 1px dotted #e1e1e1;
}

.price {
  font-size: 45px !important;
}

small {
  font-size: 15px;
  padding-left: 10px;
}

.plan li i {
  padding-right: 10px;
}
.price-two {
  font-size: 30px !important;
  padding: 15px 0px;
  background-color: rgba(162, 188, 253, 1);
  color: #fff;
  border: none;
  font-weight: 900;
}

.adjust-border-radius {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.adjust-border {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*    PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #e8eaee;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 30px 0 30px 0;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*CONTACT STYLES*/

.cnt {
  width: 100%;
  min-height: 350px;
  border: 1px solid #e1e1e1;
}
.add {
  font-size: 20px;
  font-weight: 800;
  padding: 30px;
}
#contact-sec {
  padding-top: 0px;
}

/* FOOTER STYLE*/

#footer-sec {
  background-color: #000;
  color: #808080;
}
#footer-sec h4 {
  text-transform: uppercase;
  color: #fff;
}

/* TABLE STYLE FROM KEVIN*/

.movieRead {
  content: url(../img/read.png);
  /* background-color: purple;   */
  text-align: left;

  text-align: left;
}
.movieUpdate {
  content: url(../img/update.png);
  text-align: center;
}
.movieDelete {
  content: url(../img/delete.png);
  text-align: right;
}

table {
  width: 1040px;
  align-content: center;
  margin: auto;
  background-color: wheat;
  border-color: orange;
}

td {
  width: "24%";
}
/* @font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
} */

.lang-btn {
  width: 100px;
}

.error {
  color: #ff0000;
}

.styerror {
  color: #ff0000;
  font-family: arial;
  font-size: 10pt;
  font-style: italic;
}

.item {
  height: 100%;
  width: 100%;
}
#title_page {
  height: 5%;
  width: 5%;
  position: fixed;
  transform: inherit;
}
.line_menu {
  border: -10;
  background-color: gray;
  height: 20px;
  cursor: pointer;
  color: whitesmoke;
}
/* CSS controllerHomePage per a que es vetgen les imagens del carousel */
#products_DIV img {
  display: block;
}

#font-center-home {
  font-size: 10rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 100px;
}

#contenido {
  /* display:blox; */
  margin-top: 75px;
}

/* 
#listShop div {
  margin-top: 100px;
  margin-left: 400px;
} */
/* .shopPageCatalog{
  margin-top: 100px;
  margin-left: 400px;
} */

/* FILTROS SHOP */
#formularioFiltro {
  /* margin-right:   250px; */
  /* background-color: gray; */
  /* display: flex; */
  color: white;
  /* position: static; */
  margin-right: 800;
  display: flex;
  flex-wrap: wrap;
}

#formularioFiltro fieldset {
  background-color: #242424;

  /* margin-right:   800px; */
  width: 220px !important;
  padding: 0 10px 0 20px;
  border-right: 2px solid #ddd;
  word-break: break-word;
  /* margin-left: 20px; */
  display: block;
  position: absolute;
  margin-top: 5px;
  /* margin-left: 15px; */

  block-size: auto;
  height: 100%;
}

#formularioFiltro span {
  border: 100;
  font-size: x-large;
  color: orange;
  /* text-decoration ; */
  border-color: black;
  /* background-color: darkorange; */
  /* margin-inline-start: -14px; */
  text-decoration: underline;
  height: 20px;
  width: 200;
  /* cursor: pointer; */
  /* color: whitesmoke;
  text-decoration-line:overline; */
}

#formularioFiltro input {
  color: black;
}
#listShop {
  margin-left: 350px;
}
/* #mapa {
  height: 400px;
  The height is 400 pixels
  width: 100%;
  The width is the width of the web page
} */

#orderBy {
  float: right;
  /* position: relative;   */
  margin-right: 500px;
  margin-top: 20px;
}

.category,
.touch,
#return {
  cursor: pointer;
}

/* #productsHome img{
  /* display:blox; */
/* margin-top: 100px;
  margin-left:200px; */
/* position: center; */

#productsHome {
  margin-right: 50px;
  text-align: center;
}
.productHome,
.productShop {
  margin-left: 100px;

  margin-top: 100px;

  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #e8eaee;
}

.loading {
  background-image: url("../img/ajax-loader.gif");
}

#apiPublicidad {
  margin-right: 50px;
  text-align: center;
  margin-left: 100px;

  margin-top: 20px;
  height: 10%;
  width: 10%;

  text-align: center;
  background: #fff;
  padding: 10px;
  border: 1px solid grey;
}

/* SALTO DE PÁGINA */

#pagination {
  text-align: center;
}

.attribute-item {
  margin-left: 500px;
}

#item-shop {
  margin-top: 40px;
}

/* STYLE MENU LOGIN */

.loginMenu {
  color: gainsboro;
  cursor: pointer;
}
.login-page a {
  cursor: pointer;
}
#menuAvatar {
  margin-right: 10px;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  /* border:21px;
  border-color:black; */
}

.like {
  font-size: 1em;
  color: black;
  margin-left: 20px;
}
.unlike {
  font-size: 1em;
  color: tomato;
  margin-left: 20px;
}
.fas,
.far {
  cursor: pointer;
}
.fa-cart-plus {
  color: "gray";
  font-size: 1em;
}
#item-shop > .fa-heart {
  font-size: 2em;
  position: absolute;
  margin-left: -215px;
  margin-top: -25px;
}

#item-shop > .fa-cart-plus {
  font-size: 2em;
  position: absolute;
  margin-left: -175px;
  margin-top: -25px;
  color: #929191;
}
#return {
  margin-left: -50px;
  margin-top: -250px;
  width: 50px;
  height: 50px;
}
#countCart {
  font-size: 30px;
  color: rgb(247, 247, 247);
}

/* https://codepen.io/roalroga/pen/aGPmJV */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"] {
  -moz-appearance: textfield;
}

#cartMenu {
  margin-top: 150px;
 
}

#cartMenu img {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  background: rgb(250, 250, 250);
  padding: 10px;
}

.inputNum {
  margin-left: 1em;
  margin-right: 1em;
}
.fa-trash-alt {
  margin-left: 3em;
}

.ui-dialog-content{
  color: white;
  background-color: #242424;
  text-align: center;
  border: 10px dotted #000;
  /* padding:8px; */
  font-size: 20px;
}

.ui-dialog-titlebar,
.ui-dialog-buttonset {
  background-color: #646464;
}
.ui-dialog-titlebar-close {
  display: none;
}
#buyMe {
  background-color: rgb(58, 58, 160);
  color: white;
  margin-left:50em;
  margin-right: 3em;
  margin-bottom: 40px;
display:block;
  text-align: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#returnCart, #endCart {
  background-color: rgb(58, 58, 160);
  color: white;
  margin-left:20em;
  margin-right: 3em;
  margin-bottom: 40px;
  margin-top: 10px;

display:block;
  text-align: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table tr:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
table img{
  height: 150px;
}
/* albaranTable > th{
  
} */

.albaranPrice{
    text-align: right;
    width:40px;
;
}


#cartMenu > h2{
  text-align: center;
}