.card-shop {
    text-align: center;
    margin: 15px 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
}
.card-shop-modal {
    text-align: center;
    margin: 15px 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
}
.card-history {
    text-align: center;
    margin: 15px 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
}
.card-history .inner {
    border: 1px solid #19181a;
    border-radius: 10px;
    padding: 40px 10px;
    transition: 0.2s box-shadow ease-in-out;
    box-shadow: 0px 0px 5px 0.5px#19181a,
                6px 6px 26px #000,
                -6px -6px 26px #302e31;
}
.card-history .inner-active {
    box-shadow: inset 0px 0px 5px 0.5px#19181a,
                inset 6px 6px 26px #000,
                inset -6px -6px 26px #302e31;
}

.card-shop .inner, .card-shop-modal .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2d2a2e;
    border-radius: 5px;
    padding: 40px 40px;
    background-color: #2d2a2e;
    transition: 0.2s;
}
.card-shop .inner:hover, .card-shop-modal .inner:hover {
    cursor: pointer;
    box-shadow: 2.5px 2.5px 2.5px #fc7820, 5px 5px 5px #fc7820;
}

.fadeInAnimation {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -o-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.fadeInLeftAnimation {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.slideInDownAnimation {
    -webkit-animation: slideInDown 1s;
    -moz-animation: slideInDown 1s;
    -o-animation: slideInDown 1s;
    animation: slideInDown 1s;
}
#fav-btn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 11px 9px 3px 10px;
    background: linear-gradient(135deg, rgb(17, 17, 17),#3f3c3f);
    border-radius: 50%;
    border: 1px #2d2a2e solid;
    box-shadow:  6px 6px 20px rgb(17, 17, 17),
                -4px -4px 16px #3f3c3f;
}
#fav-btn path {
    stroke-width: 20;
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}
#fav-btn path:hover {
    stroke: #A72F4A;
    animation: animate-fav-btn 0.5s linear forwards;
}
.normal-fav-btn path {
    stroke: #4a474b;
    fill: transparent;
}
.active-fav-btn path {
    stroke: #A72F4A;
    fill: #A72F4A;
}
#container-avatar {
    width: 350px;
    height: 350px;
}
#cart-btn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: linear-gradient(135deg, rgb(17, 17, 17),#3f3c3f);
    border-radius: 50%;
    padding: 12.5px 11.5px 2.5px 10px;
    border: 1px #2d2a2e solid;
    box-shadow:  6px 6px 20px rgb(17, 17, 17),
                -4px -4px 16px #3f3c3f;
}
.normal-cart-btn path {
    color: #0ca3e9;
}
.active-cart-btn path {
    color: #1dee86;
}