#container-details-cart {
    margin-bottom: 30px;
}
#info-cont {
    font-size: 20px;
    display: block;
}
#info-price {
    float: right;
}
#container-disc-code {
    float: right;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(8, 8, 8);
}