<div class = "container separe-menu">
    <div id = "container-details-cart">
        <h1>Products</h1>
        <h3 ng-show = "!showCart">It seems your cart is empty :(</h3>
        <div ng-show = "showCart" id = "container-disc-code" style = "float: right;">
            <p>Discount Code</p>
            <input ng-model = "discCode" type = "text" style = "display: block" id = "code-disc-input"/>
            <a ng-click = "addDiscCode()" class = "default-button" id = "code-disc-btn">Apply</a>
            <div ng-show = "appliedDisc != null">
                <div style = "margin-top: 15px">
                    <span>{{appliedDisc}}</span>
                    <span style = "float: right">{{discPercent}}%</span>
                </div>
                <a ng-click = "removeDiscCode()" class = "default-button">Remove Code</a>
            </div>
        </div>
        <div ng-repeat = "data in dataCart" id = "{{data.carPlate}}" class = "product-element" style = "margin-top: 25px; width: 75%">
            <span id = "info-cont">{{data.brand}} {{data.model}}</span>
            <span id = "select-days{{data.carPlate}}">
                Days
                <select ng-init = "qtyDays[data.carPlate] = data.days" ng-model = "qtyDays[data.carPlate]" ng-change = "changeDays('{{data.carPlate}}')" ng-options = "item for item in maxDays(10)"
                    class = "select-drop-days" name = "quantityDays{{data.carPlate}}" autocomplete="off" id = "quantityDays{{data.carPlate}}" style = "width: 60%">
                </select>
            </span>
            <a ng-click = "deleteFromCart('{{data.carPlate}}')" style = "margin-left: 15px" id = "delete-btn">Delete</a>
            <span id = "info-price">{{data.price * (1 + (data.days / 10 - 0.1))}}€</span>
        </div>
    </div>
    <div id = "container-price-cart" ng-show = "showCart">
        <div id = "header-price-cart">
            <h3>Total Price</h3>
            <span>{{getTotal()}}€</span>
        </div>
        <div id = "price-cart-calc"></div>
        <input type = "button" ng-click = "checkOut()" ng-show = "showCart" id = "checkout-btn" class = "default-button" value = "Check Out"/>
    </div>
</div>